# &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**AutoML Assignment**

In [2]:
# Read csv file
import pandas as pd
df = pd.read_csv("data/tough_dataset.csv" ,encoding='ISO-8859-1') # engine ='python'--> It can also used.
df.head()

,id,Target A,Target B,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,...,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d
0,68407277,42405.00,0,3600,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â¢\tExcellent interpersonal and organizationa...,...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,NaN,19-Mar
1,68355089,60740.00,1,24700,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,NaN,19-Mar
2,68341763,51907.68,0,20000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,home_improvement,NaN,605xx,IL,10.78,Aug-00,17-Jun,15813.30,NaN,19-Mar
3,66310712,51907.68,0,35000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,debt_consolidation,Debt consolidation,076xx,NJ,17.06,8-Sep,19-Feb,829.90,19-Apr,19-Mar
4,68476807,35.00,1,10400,Temporary Painter,PAINTER,Dept of Management & Planning,Responsibilities of selected candidates will i...,1. Five years of full-time satisfactory experi...,NaN,...,major_purchase,Major purchase,174xx,PA,25.37,Jun-98,16-Jul,10128.96,NaN,18-Mar

# 1) Handle missing values¶

In [3]:
#Check is there is any missing value or not
df.isnull().any().sum()

48

In [4]:
#Fill the missing value
df = df.fillna(' ')
df.head()

,id,Target A,Target B,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,...,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d
0,68407277,42405.00,0,3600,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â¢\tExcellent interpersonal and organizationa...,...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,,19-Mar
1,68355089,60740.00,1,24700,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,,...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,,19-Mar
2,68341763,51907.68,0,20000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,home_improvement,,605xx,IL,10.78,Aug-00,17-Jun,15813.30,,19-Mar
3,66310712,51907.68,0,35000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,debt_consolidation,Debt consolidation,076xx,NJ,17.06,8-Sep,19-Feb,829.90,19-Apr,19-Mar
4,68476807,35.00,1,10400,Temporary Painter,PAINTER,Dept of Management & Planning,Responsibilities of selected candidates will i...,1. Five years of full-time satisfactory experi...,,...,major_purchase,Major purchase,174xx,PA,25.37,Jun-98,16-Jul,10128.96,,18-Mar

In [5]:
df.isnull().any().sum()

0

# 2) Drop the columns

In [6]:
#Drop the target columns
y1=df['Target A']
y2=df['Target B']

X=df.drop(['Target A','Target B'],axis=1)

#### a. Features and target should not have null values.

In [7]:
#Dataset information.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 69 columns):
id                           2946 non-null int64
Target A                     2946 non-null float64
Target B                     2946 non-null int64
LOAN_AMT                     2946 non-null int64
Business Title               2946 non-null object
Civil Service Title          2946 non-null object
Division/Work Unit           2946 non-null object
Job Description              2946 non-null object
Minimum Qual Requirements    2946 non-null object
Preferred Skills             2946 non-null object
Additional Information       2946 non-null object
To Apply                     2946 non-null object
Hours/Shift                  2946 non-null object
Residency Requirement        2946 non-null object
Posting Date                 2946 non-null object
Posting Updated              2946 non-null object
Process Date                 2946 non-null object
FormalEducation              2946 non-null object
UndergradMajor               2946 non-null object
CompanySize                  2946 non-null object
DevType                      2946 non-null object
YearsCoding                  2946 non-null object
YearsCodingProf              2946 non-null object
HopeFiveYears                2946 non-null object
JobSearchStatus              2946 non-null object
LastNewJob                   2946 non-null object
UpdateCV                     2946 non-null object
CommunicationTools           2946 non-null object
TimeFullyProductive          2946 non-null object
EducationTypes               2946 non-null object
SelfTaughtTypes              2946 non-null object
TimeAfterBootcamp            2946 non-null object
HackathonReasons             2946 non-null object
AgreeDisagree1               2946 non-null object
AgreeDisagree2               2946 non-null object
AgreeDisagree3               2946 non-null object
LanguageWorkedWith           2946 non-null object
LanguageDesireNextYear       2946 non-null object
DatabaseWorkedWith           2946 non-null object
DatabaseDesireNextYear       2946 non-null object
PlatformWorkedWith           2946 non-null object
PlatformDesireNextYear       2946 non-null object
FrameworkWorkedWith          2946 non-null object
FrameworkDesireNextYear      2946 non-null object
IDE                          2946 non-null object
OperatingSystem              2946 non-null object
Methodology                  2946 non-null object
VersionControl               2946 non-null object
CheckInCode                  2946 non-null object
AIDangerous                  2946 non-null object
AIInteresting                2946 non-null object
AIResponsible                2946 non-null object
AIFuture                     2946 non-null object
Age                          2946 non-null object
term                         2946 non-null object
emp_length                   2946 non-null object
loan_status                  2946 non-null object
pymnt_plan                   2946 non-null object
url                          2946 non-null object
purpose                      2946 non-null object
title                        2946 non-null object
zip_code                     2946 non-null object
addr_state                   2946 non-null object
dti                          2946 non-null float64
earliest_cr_line             2946 non-null object
last_pymnt_d                 2946 non-null object
last_pymnt_amnt              2946 non-null float64
next_pymnt_d                 2946 non-null object
last_credit_pull_d           2946 non-null object
dtypes: float64(3), int64(3), object(63)
memory usage: 1.6+ MB

#### b. Features should be in the form of columns and rows.

In [8]:
#Shape of the dataset
X.shape

(2946, 67)

####  c. Features should be of Dataframe/ arary type.

In [9]:
#Type of Dataset
type(X)

pandas.core.frame.DataFrame

#### d. Features should be numeric only.

In [10]:
# Datatype of dataset columns
X.dtypes

id                             int64
LOAN_AMT                       int64
Business Title                object
Civil Service Title           object
Division/Work Unit            object
Job Description               object
Minimum Qual Requirements     object
Preferred Skills              object
Additional Information        object
To Apply                      object
Hours/Shift                   object
Residency Requirement         object
Posting Date                  object
Posting Updated               object
Process Date                  object
FormalEducation               object
UndergradMajor                object
CompanySize                   object
DevType                       object
YearsCoding                   object
YearsCodingProf               object
HopeFiveYears                 object
JobSearchStatus               object
LastNewJob                    object
UpdateCV                      object
CommunicationTools            object
TimeFullyProductive           object
EducationTypes                object
SelfTaughtTypes               object
TimeAfterBootcamp             object
                              ...
DatabaseDesireNextYear        object
PlatformWorkedWith            object
PlatformDesireNextYear        object
FrameworkWorkedWith           object
FrameworkDesireNextYear       object
IDE                           object
OperatingSystem               object
Methodology                   object
VersionControl                object
CheckInCode                   object
AIDangerous                   object
AIInteresting                 object
AIResponsible                 object
AIFuture                      object
Age                           object
term                          object
emp_length                    object
loan_status                   object
pymnt_plan                    object
url                           object
purpose                       object
title                         object
zip_code                      object
addr_state                    object
dti                          float64
earliest_cr_line              object
last_pymnt_d                  object
last_pymnt_amnt              float64
next_pymnt_d                  object
last_credit_pull_d            object
Length: 67, dtype: object

# 3) Using one-hot encoding

In [11]:
# One-hot encoding
X = pd.get_dummies(X,columns=['Business Title','Civil Service Title','Division/Work Unit','Job Description','Minimum Qual Requirements','Preferred Skills','Additional Information','To Apply','Hours/Shift','Residency Requirement','Posting Date','Posting Updated','Process Date','FormalEducation','UndergradMajor','CompanySize','DevType','YearsCoding','YearsCodingProf', 'HopeFiveYears', 'JobSearchStatus','LastNewJob','UpdateCV','CommunicationTools','TimeFullyProductive','EducationTypes','SelfTaughtTypes', 'TimeAfterBootcamp','HackathonReasons','AgreeDisagree1','AgreeDisagree2','AgreeDisagree3','LanguageWorkedWith','LanguageDesireNextYear','DatabaseWorkedWith','DatabaseDesireNextYear','PlatformWorkedWith','PlatformDesireNextYear','FrameworkWorkedWith','FrameworkDesireNextYear','IDE','OperatingSystem',                              'Methodology','VersionControl','CheckInCode','AIDangerous','AIInteresting','AIResponsible','AIFuture','Age','term','emp_length','loan_status','pymnt_plan','url','purpose','title','zip_code','addr_state','earliest_cr_line','last_pymnt_d','next_pymnt_d','last_credit_pull_d'],drop_first=True)

In [12]:
X.head()

,id,LOAN_AMT,dti,last_pymnt_amnt,Business Title_.NET Developer/Programmer Analyst,"Business Title_.Net Developer, Bureau of Application Development and Database Administration",Business Title_.Net Programmer / Analyst,Business Title_311 Call Center Manager,Business Title_311 Escalation Line Team Leader,Business Title_A-Team Supervisor,...,last_credit_pull_d_18-Jul,last_credit_pull_d_18-Jun,last_credit_pull_d_18-Mar,last_credit_pull_d_18-May,last_credit_pull_d_18-Nov,last_credit_pull_d_18-Oct,last_credit_pull_d_18-Sep,last_credit_pull_d_19-Feb,last_credit_pull_d_19-Jan,last_credit_pull_d_19-Mar
0,68407277,3600,5.91,122.67,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,68355089,24700,16.06,926.35,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,68341763,20000,10.78,15813.30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,66310712,35000,17.06,829.90,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,68476807,10400,25.37,10128.96,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

# <hr>

# CALCULATION FOR "TARGET-A"<hr>

#### a) TRAIN - TEST SPLIT

In [13]:
# Split the data into train and test dataset
from sklearn.model_selection import train_test_split
X1_train,X1_test,y1_train,y1_test = train_test_split(X,y1,test_size=0.20,random_state=15)

# 4)  Perform feature scaling

In [14]:
#Perform feature scaling 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X1_train_scaler = scaler.fit_transform(X1_train)
X1_test_scaler = scaler.transform(X1_test)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """

# 5a) Using a RandomForestRegressor on column "Target A".

In [15]:
#Use RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state = 2)

#### a) Fit

In [16]:
#Fit on train and test dataset
forest.fit(X1_train,y1_train)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=2, verbose=0, warm_start=False)

#### b) Predict

In [17]:
# Predict on test as well as on train dataset
y1_pred_train= forest.predict(X1_train) 
y1_pred= forest.predict(X1_test)

# 6a) Calculate the score.

In [18]:
# Score on test dataset
forest.score(X1_test,y1_test)

0.6060556411782992

# 7a) Apply RMSE

In [19]:
# Calculate Root mean squared error on train dataset
from sklearn.metrics import mean_squared_error
import numpy as np
rms = np.sqrt(np.mean((np.array(pd.DataFrame(y1_train)))-(np.array(pd.DataFrame(y1_pred_train))) )**2)
rms

206.47039579371815

In [20]:
# Calculate Root mean squared error on train dataset
rms1 = np.sqrt(np.mean((np.array(pd.DataFrame(y1_test)))-(np.array(pd.DataFrame(y1_pred))))**2)
rms1

1449.0514639152543

# <hr>

# CALCULATION FOR "TARGET-B"<hr>

#### a) TRAIN - TEST SPLIT

In [21]:
# Split the data into train and test dataset
X2_train,X2_test,y2_train,y2_test = train_test_split(X,y2,test_size=0.20,random_state=0)

# 5b) Using a DecisionTreeClassifier on column "Target B".

In [22]:
# Use DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X2_train,y2_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

 #### a)Fit

In [23]:
#Fit on train and test dataset
model.fit(X2_train,y2_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

#### b)Predict

In [24]:
# Predict on test dataset
y2_pred=model.predict(X2_test)

# 6b) Calculate the score.

In [25]:
# Score on test datset
model.score(X2_test,y2_test)

0.6915254237288135

# 7b) Apply F1-score

In [26]:
#Calculate F1-score
from sklearn.metrics import f1_score
from sklearn import metrics
s = metrics.f1_score(y2_test,y2_pred, average='weighted')
s

0.6569980779311551